/* Recipe Card Styles - Đồng đều hóa kích thước */

.metro_post.metro_recipe {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.metro_post.metro_recipe .metro_post-thumb {
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}

.metro_post.metro_recipe .metro_post-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.metro_post.metro_recipe .metro_post-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.metro_post.metro_recipe .metro_post-desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.metro_post.metro_recipe .metro_post-desc h5 {
  margin-bottom: 10px;
}

.metro_post.metro_recipe .metro_post-desc p {
  flex-grow: 1;
  margin-bottom: 15px;
}

.metro_post.metro_recipe .metro_rating {
  margin-top: auto;
}
